.cafe-inner {
  background-color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  height: 88vh;

  display: flex;
  flex-direction: column;
  gap: 50px;

  position: relative;
  padding-bottom: 80px;

  .images-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0;

    .banner-row {
      .img-box {
        grid-column-start: 2;
        grid-column-end: 5;
      }
    }

    .img-box {
      grid-column-start: 3;
      grid-column-end: 6;

      img {
        width: 250px;
        height: 200px;
      }
    }
  }

  .row {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);

    label,
    p {
      font-weight: 700;
    }

    input {
      grid-column-start: 2;
      grid-column-end: 5;

      border: none;
      padding: 7px 12px;
      border-radius: 4px;
      box-shadow: inset 1px 1px 15px rgba(0, 0, 0, 0.2);
      font-size: 14px;
    }

    &.logo-row,
    &.banner-row {
      align-items: start;
      grid-template-columns: repeat(5, 1fr);

      .img-box {
        display: flex;
        justify-content: start;

        input {
          display: none;
        }
      }
    }

    &.location-row {
      p {
        padding-left: 10px;
      }
    }

    &.workingTime-row {
      .timeFrom {
        grid-column-start: 1;
        grid-column-end: 3;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;

        input {
          grid-column-start: 4;
          grid-column-end: 6;
        }
      }

      .timeTo {
        grid-column-start: 4;
        grid-column-end: 6;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;

        input {
          grid-column-start: 3;
          grid-column-end: 5;
        }
      }
    }

    &.alcohol-row {
      input {
        grid-column-start: 2;
        grid-column-end: 3;

        width: 10%;
        border: 1px solid black;
        box-shadow: unset;
      }
    }
  }

  .createBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;

    background-color: royalblue;
    color: #fff;
    border: none;
    padding: 10px 34px;
    font-size: 16px;
    border-radius: 4px;

    cursor: pointer;
  }
}
