.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  max-width: 20%;
  width: 100%;
  z-index: 10;

  .title {
    padding: 22px 20px;
    font-size: 25px;
    font-weight: 600;
    display: block;
    color: royalblue;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  }

  &-content {
    padding: 20px 0;
    overflow: auto;
    height: 93vh;

    &.sidebar-menu {
      display: flex;
      flex-direction: column;

      .sidebar-menu_item {
        padding: 10px 24px;
        position: relative;
        cursor: pointer;

        &:hover {
          color: royalblue;
        }

        .inner_menu {
          display: flex;
          flex-direction: column;
          gap: 10px;

          max-height: 0px;
          margin-top: 0;
          overflow: hidden;
          margin-left: 10px;

          transition: max-height 0.2s, margin-top 0.2s ease;

          .inner_item {
            padding: 10px 4px;
            color: #333 !important;

            &:hover,
            &:hover a {
              color: royalblue !important;
            }

            &:last-child {
              padding: 0 !important;
              padding-left: 4px !important;
            }
          }

          &.active {
            max-height: 100%;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
