.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  max-width: 20%;

  padding: 0px 24px;

  .title {
    padding: 20px 0;
    border-bottom: 1px solid #aaa;
  }

  .content {
    padding: 20px 0;
  }
}
